* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* utilities */
.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clearfix::after {
    display: table;
    content: "";
    clear: both;
}

ul {
    list-style: none;
}

header a {
    text-decoration: none;
}

.btn {
    background-color: #0061ff;
    color: white;
    margin: 15px 15px;
    padding: 6px 18px;
    text-decoration: none;
}

.btn:hover {
    background-color: #2c7dff;
}

section h2 {
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 50px;
}

/* structure */
body {
    position: relative;
    font-family: 'Open Sans', sans-serif;
}

header {
    height: 90px;
    width: 100%;
    line-height: 90px;
    background-color: white;
    position: fixed;
    top: 0px;
    border-bottom: 1px solid lightgray;
}

.jumbotron {
    height: 790px;
    background-color: #b4d0e7;
    margin-top: 90px;
}

main {
    width: 65%;
    margin: 200px auto;
}

.frame {
    margin: 130px 0px;
}
/* header */
.logo {
    height: 28px;
    margin: 30px 50px;  
}

nav {
    height: 90px;
}

header ul {
    display: inline-block;
}

header ul li {
    height: 90px;
    display: inline-block;
    margin: 0px 20px;
}

header a {
    color: black;
    font-weight: 500;
}

header li:hover {
    cursor: pointer;
    border-bottom: 2px solid rgb(110, 110, 110);
}

/* jumbotron */
.focus {
    width: 80%;
    margin: auto;
}

.focus h1 {
    font-weight: 700;
    font-size: 85px;
    padding-top: 80px;
    margin-bottom: 30px;
}

.content {
    width: 30%;
    display: inline-block;
}

.content p {
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 500;
}

#btn-jumbo {
    margin-left: 0px;
    display: block;
    width: 230px;
}

.content span {
    display: block;
}

#jumbo-pic {
    width: 60%;
}

.fa-arrow-down {
    font-size: 40px;
    margin-top: 30px;
}

/* section 1 */
section label {
    margin-right: 15px;
}

.col {
    height: 1200px;
    width: 30%;
    margin-top: 30px;
    border: 1px solid lightgray;
}

.mid-col {
    margin: 30px 5%;    
}

.col-header {
    height: 40px;
    line-height: 40px;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    border-bottom: 1px solid lightgray;
}

.col-main {
    margin: 20px 30px;
}

.col-btn { 
    text-align: center;
    margin: 30px 0px;
    width: 100%;
}

.col ul li {
    margin: 40px auto;
}

.col h3 {
    font-size: 25px;
    font-weight: 700;   
}

.price {
    margin: 20px 0px;
    font-weight: bold;
}

.oppure {
    padding: 35px 0px;
    border-bottom: 1px solid lightgray;
}

.col-main h4 {
    margin-top: 80px;
}

.fa-check {
    color: #0061ff;
}

/* section 2 */
.col-footer {
    margin-top: 50px;
    margin-bottom: 180px;
    border: 1px solid lightgray;
}

.col-footer-main {
    padding: 40px 30px;
}

.col-footer-content h3 {
    font-size: 25px;
    font-weight: 700; 
    margin-bottom: 30px;
}

.col-footer-content h4 {
    font-weight: 700;
    margin-bottom: 40px;
}

/* section 3 */
.btn-partner {
    background-color: white;
    color: darkslategray;
    margin: 15px 15px;
    padding: 6px 18px;
    text-decoration: none;
    border: 1px solid darkslategray;
}

.btn-partner:hover {
    color: white;
    background-color: darkslategray;
}

.frame-content {
    width: 40%;
}

.frame-img {
    width: 55%;
}

.frame-content * {
    margin: 40px 0px;
    font-weight: 500;
}

.frame-content h3 {
    font-size: 30px;
    font-weight: 700;
}

/* section 4 */