* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* utilities */
.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clearfix::after {
    display: table;
    content: "";
    clear: both;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.btn {
    background-color: #0061ff;
    color: white;
    margin: 15px 15px;
    padding: 6px 18px;
}

.btn:hover {
    background-color: #2c7dff;
}

section h2 {
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 50px;
}

/* structure */
body {
    position: relative;
    font-family: 'Open Sans', sans-serif;
}

header {
    height: 90px;
    width: 100%;
    line-height: 90px;
    background-color: white;
    position: fixed;
    top: 0px;
}

.jumbotron {
    height: 790px;
    background-color: #b4d0e7;
    margin-top: 90px;
}

main {
    width: 65%;
    margin: 200px auto;
}

/* header */
.logo {
    height: 28px;
    margin: 30px 50px;  
}

nav {
    height: 90px;
}

header ul {
    display: inline-block;
}

header ul li {
    height: 90px;
    display: inline-block;
    margin: 0px 20px;
}

header a {
    color: black;
    font-weight: 500;
}

header li:hover {
    cursor: pointer;
    border-bottom: 2px solid rgb(110, 110, 110);
}

/* jumbotron */
.focus {
    width: 80%;
    margin: auto;
}

.focus h1 {
    font-weight: 700;
    font-size: 90px;
    padding-top: 80px;
    margin-bottom: 30px;
}

.content {
    width: 30%;
    display: inline-block;
}

.content p {
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 500;
}

#btn-jumbo {
    margin-left: 0px;
    display: block;
    width: 230px;
}

.content span {
    display: block;
}

#jumbo-pic {
    width: 60%;
}

.fa-arrow-down {
    font-size: 40px;
    margin-top: 20px;
}

/* section 1 */
section label {
    margin-right: 15px;
}

.col {
    height: 1500px;
    width: 30%;
    margin-top: 30px;
    border: 1px solid lightgray;
}

.mid-col {
    margin: 30px 48px;
}

.col-header {
    height: 40px;
    line-height: 40px;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    border-bottom: 1px solid lightgray;
}

.col * {
    margin: 15px 15px;
}
